<html>

<head>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <h1>5 сериалов, которые кинокритики назвали неплохими в 2019 году</h1>
        <h3>Поиск по названию</h3>
        <input type="text" v-model="search" placeholder="Search">
            <div v-for="article in aricles">
                <h2>{{article.title}}</h2>
                <img v-bind:src="article.img" v-bind:alt="article.title">
                <p>{{article.description}}</p>
                <a target="_blank" v-bind:href="article.src">Подробнее</a>
            </div>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                search: "",
                articles: [
                {
                    title: 'Ведьмак (Witcher)',
                    src: 'https://www.kinopoisk.ru/media/article/4000163/',
                    img: 'https://avatars.mds.yandex.net/get-kinopoisk-post-img/1539913/535036e1298f9be1a20faa5cec9c51ff/960x540',
                    description: 'Долгожданная экранизация «Ведьмака» уже на Netflix. Данная статья рассказывает о плюсах и минусах фэнтези-сериала про охотника на чудовищ, придуманного польским писателем Анджеем Сапковским.',
                }, {
                    title: 'Мандалорец (The Mandalorian)',
                    src: 'https://www.kinopoisk.ru/film/1118138/',
                    img: 'https://www.kinopoisk.ru/images/film_big/1118138.jpg',
                    description: 'Одинокий мандалорец-наёмник живёт на краю обитаемой галактики, куда не дотягивается закон Новой Республики. Представитель некогда могучей расы благородных воинов теперь вынужден влачить жалкое существование среди отбросов общества.',
                }, {
                    title: 'Тука и Берти (Tuca & Bertie)',
                    src: 'https://www.kinopoisk.ru/film/1125012/',
                    img: 'https://www.kinopoisk.ru/images/film_big/1125012.jpg',
                    description: 'Главные героини комедийного мультсериала — две 30-летние птицы, живущие в одном доме. Тука — беззаботная тусовщица, а Берти — скромная мечтательница. Они прекрасно дополняют друг друга и вместе проходят через череду жизненных взлетов и падений.',
                }, {
                    title: 'Любовь, смерть и роботы (Love, Death & Robots.)',
                    src: 'https://www.kinopoisk.ru/film/1228254/',
                    img: 'https://st.kp.yandex.net/im/kadr/3/3/4/kinopoisk.ru-Love_2C-Death-_26amp_3B-Robots-3340785.jpg',
                    description: 'Восемнадцать историй, как отдельные пазлы, не похожие друг на друга ни сюжетом, ни героями, по замыслу режиссера, сойдутся в одно целое только тогда, когда начнутся титры последнего эпизода. Что произойдет, когда человечество, не сдержав свои амбиции, будет уничтожено в огне Апокалипсиса, смогут ли роботы проявить чувства и осознать, что такое смерть и любовь, могут ли возникнуть романтические отношения между роботом и человеком, на эти вопросы попытались ответить сценаристы, воплотили в жизнь режиссер и мультипликаторы. Каждая история заставляет задуматься зрителя о вечных ценностях - семья, дружба. верность, любовь. Через некоторые сюжеты черной нитью проходит вечное Зло, которое готово не только уничтожить человека, но и забрать его душу.',
                }, {
                    title: 'Игра престолов (Game of Thrones)',
                    src: 'https://www.kinopoisk.ru/film/464963/',
                    img: 'https://avatars.mds.yandex.net/get-kinopoisk-post-img/2268018/46d7af3192c5a71f6b0096eda801c675/960x540',
                    description: 'К концу подходит время благоденствия, и лето, длившееся почти десятилетие, угасает. Вокруг средоточия власти Семи королевств, Железного трона, зреет заговор, и в это непростое время король решает искать поддержки у друга юности Эддарда Старка. В мире, где все — от короля до наемника — рвутся к власти, плетут интриги и готовы вонзить нож в спину, есть место и благородству, состраданию и любви. Между тем, никто не замечает пробуждение тьмы из легенд далеко на Севере — и лишь Стена защищает живых к югу от нее.',
                }
            ]
            },
            computed: {
                aricles: function() {
                    if (this.search) {
                        return this.articles.filter((article) => (article.description.includes(this.search) || (article.title.includes(this.search))))
                    } else {
                        return this.articles;
                    }

                }
            },
        });
    </script>


</body>

</html>